<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  
 	<listener>  
        <listener-class>Time.TimeControl</listener-class>    
	</listener>

    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WechatServlet</servlet-name>
    <servlet-class>servlet.WechatServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>servlet.Welcome</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WechatServlet</servlet-name>
    <url-pattern>/servlet/WechatServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/servlet/Welcome</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>PostUtils.Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListSearch</servlet-name>
    <servlet-class>PostUtils.ListSearch</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChineseClassfySearch</servlet-name>
    <servlet-class>PostUtils.ChineseClassfySearch</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/PostUtils/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListSearch</servlet-name>
    <url-pattern>/PostUtils/ListSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChineseClassfySearch</servlet-name>
    <url-pattern>/PostUtils/ChineseClassfySearch</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
